{% extends "base.html" %}

  {% block title %}MADLIBS!{% endblock %}
  {% block content %}
    <h2>Fill in your words below!</h2>
    <form action="/madlib">
        Enter player(s): <input type="checkbox" name="person" value="Bob">Bob
                        <input type="checkbox" name="person" value="Izzy">Izzy
                        <input type="checkbox" name="person" value="Sam">Sam
                        <input type="checkbox" name="person" value="Suzie">Suzie
                        <input type="checkbox" name="person" value="Cameron">Cameron
                        <input type="checkbox" name="person" value="Lisa">Lisa<br>
        Choose a color: <select name="color">
            <option value="purple">Purple</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
        </select><br>
        Enter a noun: <input type="text" name="noun"><br>
        Pick an adjective: <input type="text" name="adjective"><br>
        <input type="submit">
    </form>
  {% endblock %}
